<div class="mybox col-10 offset-1">
<h1>Help is here!</h1>
<p class="tips">
  Here are some tips for finding the information you need to calculate the thickness of your lenses.
</p>
<p class="tips">
  The frame size is usually found on the inside of one of the temples (frame arms) or it may also
be on the bridge between the lenses, either printed in ink or stamped into the frame material.
</p>
<p>
  blah blah blah
</p>
</div>
