<div class="clear"></div>
<div class="mybox">
  <%= simple_form_for @question, url: questions_path do |f| %>
    <%= f.input :question %>
    <%= f.input :name %>
    <%= f.submit "Add a Question", class: 'btn btn-primary' %>
  <% end %> 
</div>

