<!-- <div class="clear"></div>
<%= simple_form_for @question, url: questions_path do |f| %>
  <%= f.input :question %>
  <%= f.input :name %>
  <%= f.submit "Add a Question", class: 'btn btn-primary' %>
<% end %>  -->


<br />
<div class="booyah-box col-10 offset-1">
  <h1>Ask a question</h1>
</div>