@import "bootstrap";

.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}
.calculator {
width:auto;
height:auto;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border:11px solid #FFA280;
background-color:#FFFFFF;
-webkit-box-shadow: #B3B3B3 26px 26px 26px;
-moz-box-shadow: #B3B3B3 26px 26px 26px; 
box-shadow: #B3B3B3 26px 26px 26px;
margin-top: 10px;
margin-bottom: 15px;
padding: 20px;
}
.input{

}

